[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "1.5.2"
flask = "*"
gunicorn = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11.3"
