[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pillow = "*"
scikit-learn = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
pandas = "==2.2.3"
requests = "*"


[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11"
